@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.dasboard-main {
    display: flex;
}
.content-title-wrapper {
    margin-top: 60px;
}
.content-title {
    font-size: 48px;
    margin: 0;
    margin-bottom: 30px;
}
.content-title-username {
    color: #FF0101;
}
.content-title-desc {
    margin: 0;
    font-size: 18px;
}
.content-wrapper {
    margin-left: 100px;
}
.graph-wrapper {
    margin-top: 50px;
}
.activity-graph {
    width: 58vw;
    height: 320px;
    background-color: #FBFBFB;
    box-shadow: 0px 2px 4px 0px #00000005;
    border-radius: 5px;
}